.pre::after {
  z-index: -10;
  content: "";
  position: absolute;
  width: 192px;
  height: 360px;
  left: 0;
  top: 50%;
  transform: translate(-50%,-50%);
  background: linear-gradient(90deg, #030303 0%, rgba(3, 3, 3, 0.80) 55.46%, rgba(3, 3, 3, 0.00) 92.9%);

}

.next::after {
  position: absolute;
  z-index: -10;
  content: '';
  width: 192px;
  height: 378px;
  right: 0;
  top: 50%;
  transform: translate(50%,-50%);
  background: linear-gradient(270deg, #030303 0%, rgba(3, 3, 3, 0.80) 55.46%, rgba(3, 3, 3, 0.00) 92.9%);

}